body {
    
}
.boardContainer {
    background-color: grey;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tile {
    font-size:xx-large;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}